page-gallery {

    .image {
        height: 200px;
        margin: auto;
        display: block;
        width: auto;
    }
    
    .social {
        height: 35px;
        width: auto;
        padding-right: 5px;
    }
    
    ion-card-title {
        font-size: 40px;
    }
    
    p {
        font-size: 40px;
    }

}
