tabs {
    
    /* Fundo das abas não selecionadas */
    .tabs-ios .tabbar, .tabs-wp .tabbar, .tabs-md .tabbar {
        background: #009688;
    }

    /* Fundo das abas selecionadas */
    .tabs-wp .tab-button[aria-selected=true],
    .tabs-ios .tab-button[aria-selected=true],
    .tabs-md .tab-button[aria-selected=true] {
        background: #ffffff;
    }

    /* Ícones das abas não selecionadas */
    .tabs-wp .tab-button-icon,
    .tabs-ios .tab-button-icon,
    .tabs-md .tab-button-icon {
        color: #ffffff;
    }

    /* Ícones das abas selecionadas */
    .tabs-wp .tab-button[aria-selected=true] .tab-button-icon,
    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #009688;
    }

    /* Fonte das abas não selecionadas */
    .tabs-wp .tab-button-text, .tabs-ios .tab-button-text, .tabs-md .tab-button-text {
        font-family: 'Dosis', sans-serif;
        color: #ffffff;
    }

    /* Fonte das abas selecionadas */
    .tabs-wp .tab-button[aria-selected=true] .tab-button-text,
    .tabs-ios .tab-button[aria-selected=true] .tab-button-text,
    .tabs-md .tab-button[aria-selected=true] .tab-button-text {
        font-family: 'Dosis', sans-serif;
        color: #009688;
    }
    
}
