page-editor {

    .button-wp, .button-ios, .button-md {
        background-color: #009688;
        width: 100%;
        justify-content: center;
        color: #ffffff;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    ion-icon {
        padding-right: 10px;
    }
    
}
