page-home {
    
    h3 {
        color: #009688;
        width: 100%;
    }
    
    img {
        width: 280px;
        height: auto;
        margin: auto;
        display: block;
        padding-bottom: 120px;
    }
    
}
