page-home {
    
    h3 {
        color: #009688;
        width: 100%;
        justify-content: center;
    }
    
    img {
        width: 250px;
        height: auto;
        justify-content: center;
    }
    
}
