@import url('https://fonts.googleapis.com/css?family=Dosis');

/* Barra de ferramentas */
.toolbar-background-wp, .toolbar-background-ios, .toolbar-background-md {
    background-color: #009688;
}

/* Fonte do aplicativo */
.slide-image, .toolbar-title-wp, .toolbar-title-ios, .toolbar-title-md {
    font-family: 'Dosis', sans-serif;
    color: #ffffff;
}

/* Fonte do conteúdo */
.content-wp, .content-ios, .content-md {
    font-family: 'Dosis', sans-serif;
    color: #000000;
}
