page-intro {
    
    .content-wp, .content-md, .content-ios, ion-slide {
        background-color: #009688;
    }
    
    p {
        color: #ffffff;
        font-size: 25px;
    }
    
    .slide-image img {
        width: 300px;
    }
    
}
