page-intro {
    
    .content-wp, .content-md, .content-ios, ion-slide {
        background-color: #009688;
    }
    
    .button-wp, .button-ios, .button-md {
        background-color: #ffffff;
        width: 100%;
        justify-content: center;
        color: #009688;
    }
    
    p {
        color: #ffffff;
        font-size: 25px;
    }
    
    .slide-image img {
        width: 300px;
    }
    
    .half-image {
        background-color: #ffffff;
    }
    
    .half-text {
        background-color: #009688;
    }
    
    ion-grid {
        height: 100%;
        
        ion-row {
            height: 50%;
        }
    }
    
}
